nav {
  background-color: aqua;
  padding: 16px 32px;;
}

nav a {
  margin-right:16px;
}

/* we are using directly style in navbar component */
/* nav a.active {
  text-decoration:none;
  font-weight:bold;
} */